/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
@import "./normalize";
@import "./app//mixins";
@import '~swiper/swiper-bundle';


* {
	font-family: "Assistant", sans-serif;
}


h1{font-size:2em;margin:0;}
h1,h2,h3,h4,h5{margin:0;padding:0;}

.title-1 {
    font-size: 55px;
    font-weight: 900;
    line-height: 1;
    display: block;
}

.title-2 {
    font-size: 38px;
    font-weight: 900;
    line-height: 1;
    display: block;
}

.title-3 {
    font-size: 38px;
    font-weight: 900;
    line-height: 1;
    display: block;
}

.title-4 {
    font-size: 28px;
    font-weight: 900;
    line-height: 1;
    display: block;
}

.title-5 {
    font-size: 25px;
    font-weight: 900;
    line-height: 1;
    display: block;
}

.title-6 {
    font-size: 19px;
    font-weight: 900;
    line-height: 1;
    display: block;
}
